AppData
vimfiles/.netrwhist
_viminfo
pip
Application Data
Contacts
Desktop
Documents
Downloads
Dropbox
Favorites
Links
Music
NTUSER.DAT*
OilRush
Pictures
Saved Games
Searches
SkyDrive
Videos
.gimp-2.8
.ipython
.gnupg
.ssh
.matplotlib
ntuser.ini
.ido*
.gitconfig
*~
Creative Cloud Files/Desktop.ini
